<script lang="ts">
export default {
  name: "SlpRadio",
  props: {
    option: {
      required: true,
      type: String,
    },
    name: {
      required: true,
      type: String,
    },
    checked: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<template>
  <label :for="option" class="slp-radio" :class="[disabled ? 'disabled' : '']">
    {{ option }}
    <input
      type="radio"
      :name="name"
      :value="option"
      :id="option"
      @input="$emit('input', $event.target.value)"
      :checked="checked"
      :disabled="disabled"
    />
    <span class="slp-radio__checkmark" />
  </label>
</template>

<style scoped lang="scss">
@import "src/styles/_variables";

$radio-size: 16px;

.slp-radio {
  position: relative;
  padding-left: $spacing-32;
  margin-bottom: $spacing-16;
  cursor: pointer;
  font-size: $font-size-default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.disabled {
    color: $color-text-200 !important;
    cursor: not-allowed;
    .slp-radio__checkmark {
      border: 1px solid $color-surface-300 !important;
      cursor: not-allowed;
      &:after {
        display: block;
        background-color: $color-surface-300;
      }
    }
  }
  &:hover {
    .slp-radio__checkmark {
      border: 1px solid $color-accent-400;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked {
      ~ .slp-radio__checkmark {
        border: 1px solid $color-accent-400;
        &:after {
          display: block;
        }
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: $radio-size;
    width: $radio-size;
    border-radius: 50%;
    border: 1px solid $color-surface-600;
    & span {
      border: 1px solid $color-accent-400;
    }
    &:hover {
      border: 1px solid $color-accent-400;
    }

    &:after {
      display: none;
      content: "";
      padding: $spacing-4;
      background-color: $color-accent-500;
      border-radius: 50%;
      width: 2px;
      height: 2px;
      position: absolute;
      top: 3px;
      left: 3px;
    }
  }
}
</style>
