<template>
  <div class="slp-row">
    <slot></slot>
  </div>
</template>

<script lang="ts">
export default {
  name: "SlpRow",
};
</script>

<style lang="scss" scoped>
@import "src/styles/_variables";

.#{$prefix}-row {
  display: flex;
  flex-wrap: wrap;
}
</style>
