<template>
  <a
    v-if="href"
    v-bind="$attrs"
    class="slp-btn"
    :class="className"
    :href="href"
  >
    <slot></slot>
  </a>
  <button
    v-else
    v-bind="$attrs"
    class="slp-btn"
    :class="className"
    type="button"
  >
    <slot></slot>
  </button>
</template>

<script lang="ts">
export default {
  name: "SlpButton",
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    variant: {
      type: String,
      required: false,
      default: "primary",
      in: ["primary", "secondary", "tertiary", "icon", "ghost"],
    },
    href: {
      type: String,
      required: false,
      default: "",
    },
  },
  computed: {
    className(): string {
      let classes = [`slp-btn-${this.variant}`];

      if (this.disabled) {
        classes.push("slp-btn-disabled");
      }

      return classes.join(" ");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/_variables";
$button-height: calc(16px + ($border-width * 2));
$min-button-width: calc(66px + ($border-width * 2));

.#{$prefix}-btn {
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
  min-width: $min-button-width;
  display: inline-flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 11px $spacing-16;
  text-decoration: none;
  border-radius: $border-radius-4;
  font-weight: $font-weight-bold;
  font-size: $text-button-1;
  line-height: $line-height-button-1;
  transition: 300ms $interactive-ease background-color;

  &:hover {
    cursor: pointer;
  }
}

.#{$prefix}-btn-primary {
  background-color: $color-primary-200;
  color: $color-text-50;
  border: 1px solid $color-primary-200;

  &:hover {
    background-color: $color-primary-300;
    color: $color-text-300;
    border: 1px solid $color-primary-200;
  }

  &.#{$prefix}-btn-disabled {
    background-color: $color-primary-100;
    border: 1px solid $color-primary-100;
    color: $color-text-200;

    &:hover {
      background-color: $color-primary-100;
      cursor: default;
    }
  }
}

.#{$prefix}-btn-secondary {
  background-color: $color-surface-50;
  color: $color-text-300;
  border: none;

  &:hover {
    border: none;
    outline: none;
    background-color: $color-surface-200;
    color: $color-text-300;
  }

  &.#{$prefix}-btn-disabled {
    color: $color-text-100;

    &:hover {
      background-color: $color-surface-50;
      cursor: default;
    }
  }
}

.#{$prefix}-btn-tertiary {
  color: $color-text-300;
  border: none;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    text-decoration-color: $color-text-300;

    .slp-icon {
      transform: translateX(8px);
    }
  }

  .slp-icon {
    margin-left: 4px;
    transition: transform 0.2s ease-in-out;
  }

  &.#{$prefix}-btn-disabled {
    color: $color-text-100;
    text-decoration: none;

    &:hover {
      background-color: $color-surface-50;
      cursor: default;

      .slp-icon {
        transform: none;
      }
    }
  }
}

.#{$prefix}-btn-icon {
  min-width: unset;
  font-size: 0px;
  line-height: unset;
  border: none;
  background-color: transparent;
  padding: 8px;

  &.#{$prefix}-btn-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.#{$prefix}-btn-ghost {
  border: none;
  background-color: transparent;
  padding: 8px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  &.#{$prefix}-btn-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
</style>
