<script lang="ts">
import Vue from "vue";
import SlpRadioGroup from "./RadioGroup.vue";
import SlpCard from "../Card/Card.vue";

export default Vue.extend({
  name: "SlpRadioGroupTest",
  components: {
    SlpRadioGroup,
    SlpCard,
  },
  data() {
    return {
      show: "first",
      selected: "first",
      options: [
        { value: "first", name: "name" },
        { value: "second", name: "name", hovered: true },
        { value: "third", name: "name" },
        { value: "fourth", name: "name", disabled: true },
      ],
    };
  },
  methods: {
    inputEventHandler(event: any) {
      this.show = event;
    },
  },
});
</script>

<template>
  <div>
    <SlpRadioGroup
      name="name"
      @input="inputEventHandler"
      v-model="selected"
      :options="options"
    ></SlpRadioGroup>
    <SlpCard> Option: {{ selected }}</SlpCard>
  </div>
</template>
