<script lang="ts">
import Vue from "vue";
import SlpCheckboxGroup from "./CheckboxGroup.vue";
import SlpCard from "../Card/Card.vue";

export default Vue.extend({
  name: "SlpCheckboxGroupTest",
  components: {
    SlpCheckboxGroup,
    SlpCard,
  },
  data() {
    return {
      options: ["option 1", "option 2", "option 3"],
      selectedOptions: [],
    };
  },
  methods: {
    resolveEvent(event: any) {
      if (event.checked) {
        this.selectedOptions.push(event.value);
      } else {
        this.selectedOptions.splice(
          this.selectedOptions.indexOf(event.value),
          1
        );
      }
    },
  },
});
</script>

<template>
  <div>
    <SlpCheckboxGroup @check="resolveEvent" name="options" :options="options" />
    <SlpCard>Value: {{ selectedOptions }}</SlpCard>
  </div>
</template>
