<script lang="ts">
export default {
  name: "SlpLoadingLinear",
  props: {},
};
</script>

<template>
  <div class="slp-loading-linear"></div>
</template>

<style scoped lang="scss">
@import "src/styles/_variables";

.slp-loading-linear {
  height: 4px;
  width: 204px;
  background: linear-gradient(90.89deg, #ef8cf3 -13.26%, #825ee9 67.46%);
  position: relative;
  background-position: 0 0;
  animation: gradient 1s linear infinite;
  background-size: 200% 200%;
}

// animating gradient
@keyframes gradient {
  0% {
    background-position: 200% 200%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
</style>
