<script lang="ts">
import SlpIcon from "../Icon/Icon.vue";

export default {
  name: "SlpCheckbox",
  components: {
    SlpIcon,
  },

  props: {
    option: {
      required: true,
      type: String,
    },
    name: {
      required: true,
      type: String,
    },
    checked: {
      type: Boolean,
      default: false,
    },
    hasNestedChildren: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<template>
  <label
    :for="option"
    :class="disabled ? 'slp-checkbox slp-checkbox--disabled' : 'slp-checkbox'"
  >
    {{ option }}
    <input
      type="checkbox"
      :name="name"
      :value="option"
      :id="option"
      @input="$emit('check', { value: option, checked: $event.target.checked })"
      :checked="checked"
      :disabled="disabled"
    />
    <div class="slp-checkbox__checkmark">
      <SlpIcon
        class="slp-checkbox__checkmark--icon"
        name="check"
        variant="product"
        slp-color="primary-300"
      ></SlpIcon>
    </div>
  </label>
</template>

<style scoped lang="scss">
@import "src/styles/_variables";

$radio-size: 16px;

.slp-checkbox {
  position: relative;
  padding-left: $spacing-32;
  margin-bottom: $spacing-16;
  cursor: pointer;
  font-size: $font-size-default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;

  &--disabled {
    color: $color-text-100;
    cursor: not-allowed;

    .slp-checkbox__checkmark {
      border-color: $color-primary-100 !important;
      background-color: $color-primary-100;

      &--icon {
        display: block;
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ .slp-checkbox__checkmark {
        background-color: $color-accent-500;
        border-color: $color-accent-500;
      }

      ~ .slp-checkbox__checkmark .slp-checkbox__checkmark--icon {
        display: block;
      }
    }

    &:hover {
      ~ .slp-checkbox__checkmark {
        border-color: $color-accent-400;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 12.5%;
    left: calc($radio-size/2);
    height: $radio-size;
    width: $radio-size;
    border: 1px solid $color-surface-600;
    border-radius: 1px;
    display: flex;
    align-items: center;

    &--icon {
      display: none;
      margin-bottom: calc($radio-size/4);
    }
  }
}
</style>
