<script lang="ts">
import Vue from "vue";
import SlpCheckbox from "./Checkbox.vue";
import SlpCard from "../Card/Card.vue";

export default Vue.extend({
  name: "SlpCheckboxTest",
  components: {
    SlpCheckbox,
    SlpCard,
  },
  data() {
    return {
      name: "options",
      option: "option 1",
      selectedOptions: [],
    };
  },
  methods: {
    resolveEvent(event: any) {
      if (event.checked) {
        this.selectedOptions.push(event.value);
      } else {
        this.selectedOptions.splice(
          this.selectedOptions.indexOf(event.value),
          1
        );
      }
    },
  },
});
</script>

<template>
  <div>
    <SlpCheckbox @check="resolveEvent" name="options" :option="option" />
    <SlpCard>Value: {{ selectedOptions }}</SlpCard>
  </div>
</template>
