<script lang="ts">
import AccordionItem from "./AccordionItem.vue";
import SlpIcon from "../../components/Icon/Icon.vue";
export default {
  name: "Accordion",
  data() {
    return {
      accs: this.accordions,
      itemOpen: false,
    };
  },
  props: ["accordions", "heading", "index"],
  components: {
    AccordionItem,
    SlpIcon,
  },
  computed: {
    isAllOpen: function () {
      return this.accs.every((accordion) => accordion.isOpen);
    },
  },
  methods: {
    toggleAllOpen: function () {
      const open = this.isAllOpen;
      this.accs.forEach((accordion) => {
        accordion.isOpen = !open;
      });
    },
  },
};
</script>

<template>
  <div>
    <section class="section__container">
      <div class="heading__container">
        <h3 class="heading__parent">
          {{ heading }}
        </h3>
        <button class="heading__button" @click="toggleAllOpen">
          <span v-if="isAllOpen"> Hide all</span>
          <span v-else>Show all</span>
        </button>
      </div>

      <div
        class="accordion__list"
        v-for="(accordion, index) in accs"
        :key="accordion.title"
      >
        <AccordionItem
          @toggle="accordion.isOpen = !accordion.isOpen"
          :index="index"
          :title="accordion.title"
          :subtitle="accordion.subtitle"
          :desc="accordion.desc"
          :isOpen="accordion.isOpen"
        />
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";

.section__container {
  width: 100%;
  max-width: 70%;
  border-top: 1px solid;
  border-top-color: $color-surface-400;
  justify-content: space-between;
  position: relative;
  display: inline-block;
}
.heading__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.heading__parent {
  font-size: $text-heading-4;
  line-height: $line-height-heading-4;
  font-weight: bold;
  padding: $spacing-16 0;
}
button {
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: $line-height-heading-2;
}
span {
  color: $color-accent-500;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}
</style>
